.footer{
    background: #1a1a1a;
    height: 110px;
    text-align: center;
   
}


  .footer img{

    position: relative;
    align-items: center; 
    text-decoration: none;
    padding: 18px 15px; 
    padding-bottom: 10px;

  }


  @media screen and (max-width: 768px) {

    .footer img{
      height: 80px;
  
    }
  }
  


  
