.header {
  /* background: #222020; */
  height: 250px;
  background-image: url("../assets/blurred-magenta-and-cyan-sparks.png");
  background-size: cover;
  max-width:100%;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: #3eb6d7;
  font-size: 5rem;
  text-shadow: 4px 4px 4px #000;
}

.header h1:hover{
  text-shadow: 4px 4px 4px whitesmoke;
 
}



@media screen and (max-width: 768px) {

  .header h1{
    padding-top: 20px;

  }
}



