.navbar {
  background: #131313;
  height: 100px;
  padding-right: 10px;
}

.navbar a {
  color: #3eb6d7;
  display: block;
  float: right;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 18px 15px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 8px 0 black;
  text-shadow: 2px 2px 4px #000;
}

.navbar a:hover { 
  text-shadow: 4px 4px 4px whitesmoke;
}

.navbar p{
  color: #3eb6d7;
  display: block;
  float: left;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 18px 15px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 8px 8px 0 black;
  text-shadow: 2px 2px 4px #000;

}

.navbar p:hover{
  text-shadow: 4px 4px 4px whitesmoke;
}