* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  background: hsl(300, 2%, 18%);
  flex-direction: column;
  max-width: 100%;

}


.resume {
  background: #2e2c2e;
  padding: 20px;
  color: white;
}

.resume h2 {
  font-size: 60px;
  text-align: center;
  color: #3eb6d7;
  text-shadow: 4px 4px 4px #000;
}

.resume h2:hover {
  text-shadow: 4px 4px 4px whitesmoke;
}
